
.lotContainer{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.lot {
    border: 1px solid blue;
    width: 100px;
    height: 90px;
    text-align: center;
    padding-top: 28px;
}

.occupiedLot {
    background-color: black;
    color: antiquewhite;
}

.freeLot {
    background-color: antiquewhite;
    color: black;
}